<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applovin.apps.kotlindemoapp">

    <!-- These permissions are mandatory to run AppLovin SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- These permissions are strongly recommended and will result in higher performance -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- AppLovin SDK Key -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="YOUR_SDK_KEY" />

        <!-- It is VERY IMPORTANT you add the orientation and screenSize config flags if using Version 6.4.0 and above -->
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interstitials.InterstitialDemoMenuActivity"
            android:label="@string/title_activity_interstitial_list" />
        <activity
            android:name=".interstitials.InterstitialBasicIntegrationActivity"
            android:label="@string/title_activity_interstitial_basic_integration" />
        <activity
            android:name=".interstitials.InterstitialManualLoadingActivity"
            android:label="@string/title_activity_interstitial_manual_loading" />
        <activity
            android:name=".rewarded.RewardedVideosActivity"
            android:label="@string/title_activity_rewarded_videos" />
        <activity
            android:name=".nativeads.NativeAdDemoMenuActivity"
            android:label="@string/title_activity_native_ad_list" />
        <activity
            android:name=".nativeads.NativeAdCarouselUIActivity"
            android:label="@string/title_activity_native_ad_carousel_ui" />
        <activity
            android:name=".nativeads.NativeAdRecyclerViewActivity"
            android:label="@string/title_activity_native_ad_recycler_view" />
        <activity
            android:name=".banners.BannerDemoMenuActivity"
            android:label="@string/title_activity_banner_list" />
        <activity
            android:name=".banners.BannerProgrammaticActivity"
            android:label="@string/title_activity_banner_programmatic" />
        <activity
            android:name=".banners.BannerLayoutEditorActivity"
            android:label="@string/title_activity_banner_layout_editor" />
        <activity
            android:name=".mrecs.MRecDemoMenuActivity"
            android:label="@string/title_activity_mrec_list" />
        <activity
            android:name=".mrecs.MRecProgrammaticActivity"
            android:label="@string/title_activity_mrec_programmatic" />
        <activity
            android:name=".mrecs.MRecLayoutEditorActivity"
            android:label="@string/title_activity_mrec_layout_editor" />
        <activity
            android:name=".leaders.LeaderDemoMenuActivity"
            android:label="@string/title_activity_leader_list" />
        <activity
            android:name=".leaders.LeaderProgrammaticActivity"
            android:label="@string/title_activity_leader_programmatic" />
        <activity
            android:name=".leaders.LeaderLayoutEditorActivity"
            android:label="@string/title_activity_leader_layout_editor" />
        <activity
            android:name=".eventtracking.EventTrackingActivity"
            android:label="@string/title_activity_event_tracking" />
    </application>

</manifest>