<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applovin.apps.demoapp">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="25" />

    <!-- These permissions are mandatory to run AppLovin SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- These permissions are strongly recommended and will result in higher performance -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- AppLovin SDK Key -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="YOUR_SDK_KEY" />

        <!-- It is VERY IMPORTANT you add the orientation and screenSize config flags if using Version 6.4.0 and above -->
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />


        <!-- DEMO APP ACTIVITIES -->
        <activity
            android:name="com.applovin.demoapp.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.applovin.demoapp.MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name="com.applovin.demoapp.interstitials.InterstitialSingleInstanceActivity"
            android:label="@string/title_activity_interstitial_single_instance"/>
        <activity
            android:name="com.applovin.demoapp.InterstitialListViewActivity"
            android:label="@string/title_activity_interstitial_list_view"/>
        <activity
            android:name="com.applovin.demoapp.interstitials.InterstitialSharedInstanceActivity"
            android:label="@string/title_activity_interstitial_shared_instance"/>
        <activity
            android:name="com.applovin.demoapp.interstitials.InterstitialManualLoadingActivity"
            android:label="@string/title_activity_interstitial_manual_loading"/>
        <activity
            android:name="com.applovin.demoapp.rewarded.RewardedVideosActivity"
            android:label="@string/title_activity_rewarded_videos"/>
        <activity
            android:name="com.applovin.demoapp.NativeAdListViewActivity"
            android:label="@string/title_activity_native_ad_list_view"/>
        <activity
            android:name="com.applovin.demoapp.nativeads.CarouselUINativeAdActivity"
            android:label="@string/title_activity_single_native_ad"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.applovin.demoapp.nativeads.RecyclerViewNativeAdsActivity"
            android:label="@string/title_activity_multiple_native_ads"/>
        <activity
            android:name="com.applovin.demoapp.BannerListViewActivity"
            android:label="@string/title_activity_banner"/>
        <activity
            android:name="com.applovin.demoapp.eventtracking.EventTrackingActivity"
            android:label="@string/title_activity_event_tracking"/>
        <activity
            android:name="com.applovin.demoapp.banners.ProgrammaticBannerActivity"
            android:label="@string/title_activity_banner_programmatic"/>
        <activity
            android:name="com.applovin.demoapp.banners.LayoutEditorBannerActivity"
            android:label="@string/title_activity_banner_layout_editor"/>
    </application>
</manifest>
